<div class = "topDiv2">
    <h1>
        All coordinators
    </h1>
</div>

<div id="coursetable">
    <p> <%= link_to"Courses", course_course_detail_path%> | <%= link_to"Coordinators", course_coordinator_detail_path%>
</p> 

<hr>
 <% @users.each do |user| %>
 <div class="courserow">
 <div class = "coordinatordescriptiontext">
     <%= gravatar_for user %>
     <b>Coordinator name:</b><%= user.name %><br>
 </div>
 </div>
 <% end %>
 </div>