<div class = "topDiv2">
    <h1>
        Courses
    </h1>
</div>
  
<div id="coursetable">
    <p> <%= link_to"Courses", course_course_detail_path%> | <%= link_to"Coordinators", course_coordinator_detail_path%>
</p> 

<hr>
    <%= render 'shared/course_table',object:@courses%>
</div>
  
  
  

</div>
