
<% provide(:title, "Home") %>
<div class="topDiv">
<h1 id = "h1">
    Wlcome to your Course App
</h1>
<p>this is the home page for the RAD assignment 2</p>
    <%= link_to "<span class='glyphicon glyphicon-cog'></span>Sign up now!".html_safe, signup_path, class: "btn  btn-danger small" %>

</div>

<div id="row1">

<div id="column1">
<p class="t1">View Course as Guest User</p>
<p>Browse and view all courses as a guest and sign up later</p>
    <%= link_to "<span class='glyphicon glyphicon-book'></span>Browse all courses".html_safe, course_course_detail_path ,class:"btn btn-success small"%>
</div>

<div id="column2">
<p class="t1">Sign in to your account</p>
<p>Update your courses,rate courses,view coordinator informations</p>
    <%= link_to "<span class='glyphicon glyphicon-user'></span>Log in to your account".html_safe, login_path ,class:"btn btn-success small"%>
</div>

</div>
