
<% provide(:title, "Home") %>

<div id = "topDiv">
<h1 id = "h1">
    Wlcome to your Course App
</h1>
<p>this is the home page for the RAD assignment 2</p>
<button id="buttonGreen">
    <div>
        Sign up now
    </div>
</button>
</div>

<div id="row1">

<div id="column1">
<h2>View Course as Guest User</h2>
<p>Browse and view all courses as a guest and sign up later</p>
<button id = "buttonGreen">
    <div>
    Browse all courses
    </div>
</button>
</div>

<div id="column2">
<h2>Sign in to your account</h2>
<p>Update your courses,rate courses,view coordinator informations</p>
<button id = "buttonGreen">
    <div>
    Log in to your account
    </div>
</button>
</div>

</div>
