
<% provide(:title, "Home") %>
<div class="topDiv">
<h1 id = "h1">
    Wlcome to your Course App
</h1>
<p>this is the home page for the RAD assignment 2</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success small" %>

</div>

<div id="row1">

<div id="column1">
<h2>View Course as Guest User</h2>
<p>Browse and view all courses as a guest and sign up later</p>
    <%= link_to "Browse all courses", course_course_detail_path ,class:"btn btn-lg btn-success small"%>
</div>

<div id="column2">
<h2>Sign in to your account</h2>
<p>Update your courses,rate courses,view coordinator informations</p>
    <%= link_to "Log in to your account", login_path ,class:"btn btn-lg btn-success small"%>
</div>

</div>
