@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}


.topDiv{
    padding-top:20px;
    height:200px;
    text-align: center;
    width:100%;
}
.topDiv2{
    padding-top:20px;
    text-align: center;
}


#row1{
    display:inline;
    justify-content: space-around;
    margin:15px;
}


#column1{
    display:inline-block;
    margin-right:10px;
    width:25%;
}


#column2{
display:inline-block;
    width:25%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
}

.parent > li {
  float: left;
  margin-right:150px;
  list-style:none;
  font-weight:bold;
}

.child{
  margin-top:20px;
}

.child > li{
   padding:0px;
   list-style:none;
   font-weight:normal;
   text-align:left;
}


#coursetable{
    width:80%;
    height:auto;
    margin-top:10px;
}
.courserow{
    border:1px solid #e57614;
    display: -webkit-flex;
    display: flex;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    height:auto;
}

.coordinatordescription{
    display:block;
    width:50%;
    height:205px;
    line-height:auto;
    text-align:center;
    vertical-align:middle;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    margin:auto;
    border-right:1px solid #e57614;
}

.coursedescription{
    width:50%;
    height:auto;
    float:left;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    margin:10px;
    
}

span img{
  max-width:10px;
  max-height:10px;
  display:none;
}

a:hover span img{
  display:inline;
  background-color:white;
}

a:hover{
   background-color:white;
   text-decoration:none !important;
}

body{
    padding:0px;
    margin:0px;
}

nav{
    padding-top:7px;
}

nav button{
    margin-right:5px;
}

span{
    margin-right:2px;
}

.t1{
    font-size:20px;
}

h1{
    font-size:30;
}

.courserow span{
    float:right;
    margin-right:20px;
}

.coordinatordescriptiontext{
    display:block;
    line-height:100px;
    text-align:center;
    vertical-align:middle;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    margin:auto;
}

.iconRow
{
    display: table;
    width: 30%;
    margin-left:60%;
}
.iconColumn
{
    display: table-cell;
}

.gravatar_edit{
    margin-top:10px;
}