<footer class="page-footer font-small">
   <div class="container">
    <div class="row text-left">
				<div class="col-sm-3">
				  <h5>Contact us</h5>
				  	<form action="webmaster@rmit.com" method="post" enctype="text/plain">
						Name:<br>
						<input type="text" name="name"><br>
						E-mail:<br>
						<input type="text" name="mail"><br>
						Message:<br>
						<input type="text" name="message"><br>
						<input type="submit" value="Send">
					</form>
					
					<ul class="list-unstyled">
						<li>Telephone:0123456789</li>
						<li>Fax:012345678</li>
						<li>example@rmit.com</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>General Inquires</h5>
					<ul class="list-unstyled">
						<li>Andy Song</li>
						<li>Junliang Jiang</li>
						<li>Ail</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Useful Links</h5>
					<ul class="list-unstyled">
						<li><a href="https://www.rmit.edu.au/study-with-us?gclid=EAIaIQobChMIjLCp8rX84QIVQoWPCh29kA8gEAAYASAAEgLlUvD_BwE&gclsrc=aw.ds">RMIT Course</a></li>
            <li><a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre">RMIT Help Desk</a></li>
            <li><a href="https://www.rmit.edu.au/about/our-locations-and-facilities/locations/overseas">RMIT International</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Media</h5>
					<ul class="list-unstyled">
					  
					  <!-- Icons made by Freepik from https://www.flaticon.com/ is licensed by Creative Commons BY 3.0 -->
					  
						<li><a href="https://www.youtube.com/" class="link"><span class="icon"><%= image_tag "icons/youtube.png" %></span>Youtube</a></li>
						<li><a href="https://www.facebook.com" class="link"><span class="icon"><%= image_tag "icons/facebook.png" %></span>Facebook</a></li>
						<li><a href="https://www.twitter.com" class="link"><span class="icon"><%= image_tag "icons/twitter.png" %></span>Twitter</a></li>
						<li><a href="https://www.skype.com" class="link"><span class="icon"><%= image_tag "icons/skype.png" %></span>Skype</a></li>
					</ul>
				</div>
  </div>
</footer>